<div id='folder_index' class="row">
  <div  class="col-md-12">
    <div class="row">
      <div  id='asset_upload_buton' class="col-md-12">
        <button type="button" class="btn btn-primary disabled pull-right"  id="upload_asset_button"  disabled='true' data-toggle="modal" data-target="#upload_asset_modal"><i class="glyphicon glyphicon-cloud-upload"></i>Upload Asset</button>
      </div>
    </div>
    <div id='folder_assets' class="row">
      <%= render partial: 'spree/admin/shared/digital_asset', collection: @digital_assets  %>
    </div>
  </div>
</div>
<p id="view-more">
  <%= link_to 'View More', admin_digital_assets_path(folder_id: @current_folder.try(:id), page: (@digital_assets.current_page + 1)), id: 'view_more_button' %>
</p>
<div id="upload_asset_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Asset Uploader</h4>
      </div>
      <div id='upload_asset_modal_body' class="modal-body">
        <%= render 'form' %>
      </div>
<!--       <div  class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
