<div id='folder_index' class="row">
  <div id='folder_list' class="col-md-3">
    <%= link_to 'All Assets', admin_digital_assets_path, class: 'btn btn-block btn-primary' %>
    <%= render 'spree/admin/shared/folder_list' %>
  </div>
  <div  class="col-md-9">
    <div class="row">
      <div  id='asset_upload_buton' class="col-md-12">
        <button type="button" class="btn btn-primary disabled pull-right"  id="upload_asset_button"  disabled='true' data-toggle="modal" data-target="#upload_asset_modal"><i class="glyphicon glyphicon-cloud-upload"></i>Upload Asset</button>
      </div>
    </div>
    <div id='folder_content'>
      <%= render 'content' %>
    </div>
  </div>
</div>

<div id="upload_asset_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Asset Uploader</h4>
      </div>
      <div id='upload_asset_modal_body' class="modal-body">
        <%= render 'form' %>
      </div>
<!--       <div  class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
