<% banners = Spree::Banner.active %>
<% if banners.present? %>
  <div class="banners-block banner-left banner-list-flex">
    <% banners.each do |banner| %>
      <a href="<%= banner.link %>" class="top-banner-links banner-list-flex-item">
        <%= image_tag banner.attachment, class: 'img-responsive'%>
      </a>
    <% end %>
  </div>
<% end %>
