
  <div id = 'asset_upload_buton' class="form-group">
    <button type="button" class="btn btn-block btn-default"  id="upload_asset_button" data-toggle="modal" data-target="#associate_asset_modal">Upload Asset</button>
  </div>






