/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/
.tree-menu-container {
  border-bottom: solid 1px #eee;
  border-right: solid 1px #eee;
  border-left: solid 1px #eee;
  margin-top: 15px;
  height: 100%;
  box-shadow: 0 0 0 0 #000000;
}

.tree-menu-container .tree-menu {
  display: block;
  padding-left: 20px;
  margin: 0;
  list-style: none;
}

.tree-menu-container .tree-menu .tree-menu{
  display: none;
}

.tree-menu-container .tree-menu:first-child {
  padding-left: 0;
}

.tree-menu-container .tree-menu > li {
  display: block;
  /*position: relative;*/
  border-top: solid 1px #eee;
}

.tree-menu-container .tree-menu > li.active > .link{
  background: #eee;
}
.tree-menu-container .tree-menu > li .link {
  display: block;
  padding: 10px 15px 10px 30px;
}

.tree-menu-container .tree-menu > li > .toggle_list_menu {
  display: block;
  float: left;
  padding: 10px 15px;
}

.tree-menu-container .tree-menu > li > .btn-group {
  float: right;
  margin-top: 8px;
}

.tree-menu-container .tree-menu > li > .btn-group.open {
  z-index: 999;
}

.tree-menu-container .tree-menu > li > .btn-group .btn {
  background: none !important;
}

.asset-area {
  display: inline-block;
  width: 170px;
  margin: 7px;
  height: 200px;
  padding: 15px;
  position: relative;
  box-shadow: 0 0 0 1px #e2e2e2;
  background: #f5f5f5;
  vertical-align: top;
}

.asset-area.active {
  background-color: #478DC1;
  color: #fff;
}

.asset-area img {
  max-width: 140px !important;
  max-height: 140px !important;
  margin-bottom: 15px;
}

.asset-area .corner-menu {
  position: absolute;
  right: 0;
  top: 0;
}

.asset-area .dropdown-menu {
  left: auto;
  right: 0;
}

.nav.nav-sidebar .tree-menu-container {
  margin-top: 0;
}

.nav.nav-sidebar .tree-menu-container .tree-menu > li > .btn-group {
  margin-top: 3px;
}

.nav.nav-sidebar .tree-menu-container .tree-menu .dropdown-menu {
  left: auto;
  right: 0;
}

.digital-assets-image {
  min-height: 125px;
}

.sidebar-default-font {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: capitalize;
  display: block;
  color: #478DC1;
}

li.active .link.sidebar-default-font {
  color: #7DB942;
  background: transparent!important;
}

.sidebar-default-font:hover {
  background: #eee;
  text-decoration: none!important;
}

.sidebar-default-font:active,
.sidebar-default-font:focus,
.sidebar-default-font:visited {
  text-decoration: none!important;
}

.no-border {
  border: 0 solid transparent !important;
}

.asset-area {
  height: 175px;
}

.asset-area img {
  max-width: 100px!important;
  max-height: 100px!important;
}

.select-file {
  font-size: 12px;
  line-height: 16px;
}

.folder-assets-block-section {
  position: relative;
  max-height: 480px;
  overflow: auto;
}

.folder-assets-block-section .folder-assets-loader {
  position: absolute;
  top: 110px;
  left: 45%;
  z-index: 8;
}

.folder-assets-block-section .section-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  background: rgba(0, 0, 0, .3);
}

#upload_asset_modal_body .digital_asset_action_menu {
  display: none;
}

.formError {
  color: #f55753 !important;
}
