<% assets.each do |asset|%>

  <div class="col-sm-3 text-center asset-area">
    <%= image_tag(asset.attachment.url(:thumb), class: 'img-thumbnail attachment' , data: { id: asset.id } )  %>
  </div>

<% end %>

