<div class="text-center folder-link-container folder-area add-central-folder">
  <div class="folder-image">
    <a href="javascript:void(0)" class="glyphicon glyphicon-folder-open folder-icon"></a>
  </div>
  <p>
    <%= folder_link folder, { remote: true, data: { id: folder.id }, class: 'open-folder-link folder-link' } %>
  </p>
</div>
