<div class="btn-group">
  <button class="btn dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-option-vertical"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a href="javascript:void(0)" data-toggle="modal" data-target="#add-subfolder" class="add-folder">Add New Subfolder</a>
    </li>
    <li>
      <a href="javascript:void(0)" data-toggle="modal" class="rename-folder" data-target="#add-subfolder" >Rename</a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <%= delete_folder_link folder, method: 'delete', class: 'delete-folder' %>
    </li>
  </ul>
</div>
<a href="javascript:void(0)" class="toggle_list_menu glyphicon glyphicon-chevron-right"></a>
<%= folder_link folder, class: 'open-folder-link link sidebar-default-font', data: { remote: digital_assets_index?, id: folder.id } %>
