<div class="modification-content hide">
  <div class="text-center folder-area">
    <div class="folder-image">
      <%= image_tag asset_path('folder_icon.png'), class: 'img-thumbnail attachment digital_asset_attachment' %>
    </div>
    <p>
      <a href="javascript:void(0)" data-remote="true" class="folder-link"></a>
    </p>
  </div>

  <li>
    <div class="btn-group">
      <button class="btn btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-option-vertical"></span>
      </button>
      <ul class="dropdown-menu">
       <li><a href="javascript:void(0)" data-toggle="modal" data-target="#add-subfolder" class="add-folder">New Folder</a></li>
       <li><a href="javascript:void(0)" data-toggle="modal" class="rename-folder" data-target="#add-subfolder">Rename</a></li>
       <li role="separator" class="divider">
       <li><a class="delete-folder" rel="nofollow" data-method="delete">Delete</a></li>
     </ul>
    </div>
    <a href="javascript:void(0)" class="toggle_list_menu glyphicon glyphicon-chevron-right"></a>
    <a class="link sidebar-default-font" data-id="1" data-remote="true" href="/admin/digital_assets?folder_id=1">Documents</a>
  </li>
</div>
