<% folder = Spree::Folder.new %>
<div class="hide modification-content">
  <%= render partial: 'spree/admin/shared/folder_area', locals: { folder: folder } %>
  <li class="folder-link-container add-sidebar-folder">
    <%= render partial: 'spree/admin/shared/folder_list_element', locals: { folder: folder } %>
  </li>
</div>
